header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    .header__info ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-flex;
            margin-right: 1.5rem;
            margin-top: 0.5rem;
        }
    }
    .header__image {
        width: 150px;
        img {
            max-width: 100%;
            border-radius: 50%;
        }
    }
}