.principal {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1.5rem;
    main {
        grid-column: 1;
    }
    aside {
        grid-column: 2;
    }
}