.principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    main {
        grid-column: 1;
        .main__experience,
        .main__studies {
            padding-bottom: 1rem;
        }
    }
    aside {
        grid-column: 2;
    }
}