@use "sass:color";
$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$font-family-serif: "Georgia",
"Times New Roman",
serif;
$base-uno: #bdbdbd;
$base: color.scale($base-uno, $lightness: 70%);
$base-dos: rgb(255, 255, 255);
$mqMinWidth: 420px;
$titulos: #8c8c8d;
$color-generico: #1d1d1d;
$links: #1395e0;
$h1size: 3rem;
$h2size: 1.75rem;
$restsize: 1.25rem;
$smallsize: 1rem;
$bolds: 600;
$italics: 400;