@use "sass:color";
$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$font-family-serif: "Georgia",
"Times New Roman",
serif;
$base-uno: #bdbdbd;
$base: color.scale($base-uno, $lightness: 70%);
$base-dos: rgb(255, 255, 255);
$mqMinWidth: 420px;
$titulos: #7a7a7a;
$links: #1395e0;